/* Container for the entire podcast display */
.podcast-display-container {
    margin-bottom: 1.5rem;
}

/* Podcast Section Title */
.podcast-section-title {
    margin: 1.5rem 0;
    font-size: 1.75rem;
    font-weight: bold;
    color: #f1f1f1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Podcast List Layout */
.podcast-list {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;
}


/* Hover Effect for Podcast Card */
.podcast-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.4);
    background: #f3eeee;
}

/* Podcast Thumbnail Styling */
.podcast-thumbnail {
    width: 100%;
    height: 220px;
    border-radius: 0;
    object-fit: cover;
}

/* Podcast Information Container */
.podcast-info {
    margin-top: 1rem;
    text-align: center;
}

/* Podcast Title Styles */
.podcast-title {
    font-weight: bold;
    color: #eaeaea;
    font-size: 1.25rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

/* Title Hover Effect */
.podcast-card:hover .podcast-title {
    color: #f2d47a;
    text-shadow: 0 0 10px rgba(240, 180, 0, 1);
}