/* Home container styling */
.details-container {
  background-color: white;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: scroll;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 20px auto;
}

/* Podcast Image */
.podcast-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  object-fit: cover;
}

/* Back Button */
.back-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #a8d0e6;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s;
}
.back-button:hover {
  background-color: #81c7e1;
}
.back-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

/* Podcast Header */
.podcast-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.podcast-details {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.podcast-label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 0.5rem;
}

.podcast-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.podcast-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.podcast-meta {
  font-size: 1rem;
  color: #555;
  font-weight: bold;
}

/* Podcast Grid Header */
.podcast-grid-header {
  display: grid;
  grid-template-columns: 40px 1fr 100px;
  gap: 1rem;
  font-weight: bold;
  padding: 0.5rem 0;
  background-color: #f1f1f1;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin-top: 1.5rem;
}

.grid-index {
  color: #007bff;
}

.grid-date {
  text-align: right;
  color: #333;
}

/* Horizontal Line */
hr {
  border: 1px solid #ddd;
  margin: 1.5rem 0;
}

/* Season Dropdown */
.season-dropdown {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
}

.season-dropdown label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.season-dropdown select {
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #e2e8f0;
  font-size: 1rem;
  cursor: pointer;
  width: 200px;
}

/* Episode List Styling */
.episode-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.episode-list .episode {
  background: #f8f8f8;
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.episode-list .episode:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.episode-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.episode-title:hover {
  color: #007bff;
  text-decoration: underline;
}

.episode-index {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #007bff;
}

.episode-file {
  display: none;
}

/* Audio Player Footer */
.audio-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333; /* Dark background */
  color: white; /* White text */
  padding: 10px; /* Padding around the content */
  display: flex;
  justify-content: center; /* Center the audio player */
  margin-top: 1rem;
}

#audio-player {
  background-color: aqua;
  width: 100%;
  max-width: 800px; /* You can adjust the max-width as needed */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .episode-list .episode {
      flex: 1 1 calc(33.33% - 1.5rem); /* 3 episodes per row on medium screens */
  }
}

@media (max-width: 768px) {
  .episode-list .episode {
      flex: 1 1 calc(50% - 1.5rem); /* 2 episodes per row on smaller screens */
  }

  .season-dropdown select {
      width: 100%;
  }
}

@media (max-width: 480px) {
  .episode-list .episode {
      flex: 1 1 100%; /* 1 episode per row on very small screens */
  }
}
